name: Lint and Format Swift Code

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  lint-and-format:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install Homebrew
        run: |
          /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
          echo 'eval "$(/opt/homebrew/bin/brew shellenv)"' >> $GITHUB_ENV
          eval "$(/opt/homebrew/bin/brew shellenv)"

      - name: Install SwiftLint & SwiftFormat
        run: |
          brew install swiftlint swiftformat

      - name: Remove trailing whitespace
        run: swiftformat . --stripwhitespace

      - name: Run SwiftLint
        run: swiftlint

